.widget {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 100px;

  box-shadow: -2px 7px 5px 5px rgba(218, 232, 223, 0.55);
  -webkit-box-shadow: -2px 7px 5px 5px rgba(218, 232, 223, 0.55);
  -moz-box-shadow: -2px 7px 5px 5px rgba(218, 232, 223, 0.55);

  .left, .right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title{
      font-size: 14px;
      font-weight: bold;
      color: #a9a6a6;
    }

    .counter{
      font-size: 28px;
      font-weight: 300;
    }

    .link{
      width: max-content;
      font-size: 12px;
      border-bottom: 1px solid gray;
    }

    .percentage{
      display: flex;
      align-items: center;
      font-size: 14px;

      &.positive{
        color: green;
      }
      &.negative{
        color: red;
      }
    }

    .icon{
      font-size: 18px;
      padding: 5px;
     // background-color: #ca8ee3;
      border-radius: 5px;
      align-self: flex-end;
    }

  }
}