.sidebar {
  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;
  background-color: white;
  flex: 1;

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: blueviolet;
    }
  }

  hr {
    height: 0px;
    border: 0.5px solid rgb(230, 227, 227);
  }

  .center {
    padding-left: 10px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      .title {
        font-size: 10px;
        font-weight: bold;
        color: grey;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;

        &:hover {
          background-color: #c3bfd0;
        }

        .icon {
          font-size: 18px;
          color: #7156d9;
        }

        span {
          font-size: 13px;
          font-weight: 600;
          color: grey;
          margin-left: 10px;
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    margin: 10px;

    .colorOption {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid #9480e3;
      cursor: pointer;
      margin: 5px;
      &:nth-child(1){
        background-color: whitesmoke;
      }
      &:nth-child(2){
        background-color: #464444;
      }

    }
  }
}